
@{
    ViewBag.Title = "چــــراغ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container ">
    <div style="height:80vh" class="row">
        <div class="col pt-5 mt-5">
            <h1 class="pb-5">آموزش برنامه نویسی با چراغ</h1>
            <h5>با چراغ برنامه نویسی به لذت بخش ترین تفریح برایت مبدل میشود</h5>
        </div>
        <div class="col">
            <img src="~/images/header-human-head.png" />
        </div>
    </div>
</div>

