
@{
    ViewBag.Title = "چراغ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!--Start of Banner -->
<div class="container">
    <div style="height:80vh" class="row">
        <div class="col-lg-6 col-md-12 mt-5 pt-5 d-flex flex-column align-items-center">
            <h1 class="pb-5">آموزش برنامه نویسی با چراغ</h1>
            <h5>با چراغ برنامه نویسی به لذت بخش ترین تفریح برایت مبدل میشود</h5>
        </div>
        <div class="col-lg-6 col-md-12">
            <img src="~/images/header-human-head.png" class="img-fluid" />
        </div>
    </div>
    <div class="row d-flex justify-content-center justify-content-md-end">
        <button style="width: 25%;" class="btn btn-warning btn-md-lg btn-sm fw-bold fs-6  px-0  py-3 text-white mb-2">الفبایی برنامه نویسی</button>
        <hr class=""/>
    </div>
    
</div>
<!--ends of Banner -->

<!--Start of Tearm -->
<div class="container mt-5" >
    <div class="row">
        <h2 class="text-center fs-1 fw-bold">دوره های برنامه نویسی</h2>
        <p class="text-center mt-2 fs-5 fw-semibold">در چه دوره میخواهی متخصص شوی؟</p>
    </div>
    <div class="row row-cols-1 mt-4 mb-5 row-cols-md-3 row-cols-lg-4 g-5">
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:40%; height:auto" class="card-img-center rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/python.png" style="width:40%; height:auto" class="card-img-center rounded mx-auto d-block" alt="...">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Python</h5>
                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/php.png" style="width:40%; height:auto" class="card-img-end rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">PHP</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/react.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">React</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-5 shadow-lg py-4">
                <img src="~/images/java.png" style="width:30%; height:auto" class="card-img-top rounded mx-auto d-block" alt="java course">
                <div class="card-body d-flex flex-column text-center justify-content-end">
                    <h5 class="card-title">Java</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <button style="width: 25%;" class="btn btn-primary fw-bold fs-5 shadow-lg rounded-4 btn-md-lg btn-sm  px-0  py-3 text-white mb-2">همه دوره ها</button>
    </div>
</div>
<!--ends of Tearm -->

<!--Start of Why Light -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <img src="~/images/why-light-human.png" class="img-fluid"/>
        </div>
        <div class="col-md-6 mt-5 d-flex flex-column justify-content-center align-items-center">
            <h2 class="mt-5 pt-5 fs-1 fw-bold">چرا باید چراغ را انتخاب نماید؟</h2>
            <ul style="list-style-type:lower-alpha" class="mt-5 d-flex flex-column gap-5">
                <li class="d-flex gap-3 align-items-center">
                  <span class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-stopwatch align-items-center text-center text-primary" viewBox="0 0 16 16">
                          <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                          <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                      </svg>
                  </span>
                    <span class="fs-5">صرفه جویی در زمان</span>
                </li>
                <li class="d-flex gap-3 align-items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-up align-items-center text-center text-primary" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                    <span class="fs-5">دریافت رایگان از اپدیت های دوره</span>
                </li>
                <li class="d-flex gap-3 align-items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-up align-items-center text-center text-primary" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                    <span class="fs-5">دریافت رایگان از اپدیت های دوره</span>
                </li>
                <li class="d-flex gap-3 align-items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-up align-items-center text-center text-primary" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                    <span class="fs-5">دریافت رایگان از اپدیت های دوره</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--ends of Why Light -->
<div class="container mt-5 py-5">
    <div class="row">
        <h2 class="text-center fs-1 fw-bold">نطرات دانشجویان</h2>
        <form class="w-50   mx-auto d-flex flex-column gap-2 form form-control p-4 mt-5" >
            <div class="form-group">
                <label>نام</label>
                <input type="text" placeholder="نام...." class="form-control"/>
            </div>
            <div class=" form-group">
                <label>ایمیل</label>
                <input type="email" placeholder="ایمیل...." class="form-control" />
            </div>
            <div class=" form-group">
                <label>نظریات</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <input type="submit" value="ثبت نظر" class="btn btn-primary w-50 mx-auto mt-3" placeholder="نظریات و پشنهادات...."/>
        </form>
    </div>
</div>