
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="container">
    <div class="mt-5">
        <button class="btn bg-danger btn-sm float-start"> <a href="/" class="text-white text-decoration-none fw-bold" >برگشت</a></button>
         <h2 class="text-center mt-5 mb-5  fw-bold">صفحه ورود</h2>
      </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <form class="form w-75 mx-auto mt-5" action="" method="post">
                <div class="form-group">
                    <label for="">ایمیل:</label>
                    <input class="form-control outline-none" type="text" id="email" name="email" placeholder="ایمیل............" />
                </div>
                <div class="form-group">
                    <label for="">رمز عبور:</label>
                    <input class="form-control outline-none" type="password" id="password" name="password" placeholder="رمز عبور............" />
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <a class="nav-link text-pirmary fs-6 text-secondary" href="/">فراموشی رمز عبور</a>
                </div>
                <button class="btn btn-block bg-primary text-white w-50 mx-auto mt-3 mb-5" type="submit">ورود</button>
                <a href="/Register" class="text-decoration-none  text-primary">کاربر جدبد هستید؟</a>
            </form>
        </div>
        <div class="col-md-6  d-flex text-center justify-content-center">
            <img src="~/images/login.svg" class="img-fluid" />
        </div>
    </div>
</section>
